@import '../../layout/variables';

$item-text-color: $light;
$item-background-color: transparent;
$item-active-text-color: $light;
$item-active-background-color: rgba(0, 0, 0, 0.2);

$dropdown-background: $light;
$dropdown-item-text-color: $primary;
$dropdown-item-background-color: transparent;
$dropdown-item-active-text-color: $primary;
$dropdown-item-active-background-color: rgba(0, 0, 0, 0.2);
